

body{
font-family: 'terraria', 'Ubuntu', 'PT Sans', 'minecraft';
  
}
h2 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #00ff1e;
  color: white;
}

#save-btn {
    background: darkgreen;
  color: white;
}
